@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Oswald&display=swap');
:root{
    --primary_color:#fff;
    --secondary_color:rgb(119, 111, 239);
    --text_primary_color:#000;
    --text_secondary_color:rgb(250, 254, 254);
    --blue_color:rgba(20.297, 64.556, 137.105, 1);
}

 /* Hide scrollbar for IE, Edge and Firefox  and chrome*/
body::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
}



.section-title.center .line{
    border-top: 4px solid var(--blue_color);
    height: 10px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.section-title.center .line:hover
{
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 15%;
}

.navbar-brand{
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
}

.items-navs{
    margin:0  1%;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    font-size:18px;
/*    
    font-family: 'Oswald', sans-serif; */
}

.page{
    position: relative;
    width: max(97vw,98%);
    height: 100vh;
    display:  flex;
    justify-content: space-evenly;
    align-items: center;
    left:1%;
    overflow: hidden;
}

#home{
    background-color: rgb(243, 246, 248);
    height: calc(100vh - 150px );
    
}

#typewriteText{
    font-size: 2em;
    font-family: 'Oswald', sans-serif; 
    margin-left: 2%;
    margin-top: 35%;
}

.container1{
    position: relative;
}
#pic1{
    position: relative;
    height: 90%;
    width: 90%;
    left: 10%;
    margin-top:5%;
}
#pic2{
    position: absolute;
    left: 0;
    z-index: 1;
    height: 70%;
    width: 100%;
    bottom: 0;
}
#about{
    background-color:var(--secondary_color);
    z-index: 2;
    font-family: 'Nunito', sans-serif;
}
#works{
    background-color:var(--secondary_color);
    font-family: 'Nunito', sans-serif;
    height: 100%;
}
#contact{
    background-color:var(--blue_color);
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
#contact a{
    color: #fff;
}
#contact .line{
    border-top: 4px solid var(--secondary_color);
}
#contact i{
    color: var(--secondary_color);
}
#contact .card{
    background-color: rgba(39, 247, 230, 0.146);
}
